<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Cedula</th>
        <th scope="col">Email</th>
        <th scope="col">Detalle</th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let item of usuarios'>
        <th scope="row">{{item.id}}</th>
        <td>{{item.nombre}}</td>
        <td>{{item.apellido}}</td>
        <td>{{item.cedula}}</td>
        <td>{{item.email}}</td>

        <td><button (click)="AbrirModal(edit,item.id)" class="bg-transparent border-0"><i class="fas fa-eye"></i></button></td>

      </tr>
    </tbody>
  </table>

  <ng-template #edit>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Editar Usuario</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form" class="row justify-content-center px-2">
        
            <div class="col-7 my-2">
                <div class="input-filter">
                    <input type="text" class="form-control px-2"  placeholder="Nombre" formControlName="nombre"/>
                </div>
            </div>
            
            <div class="col-7 my-2">
                <div class="input-filter">
                    <input type="text" class="form-control px-2"  placeholder="Apellido" formControlName="apellido"/>
                </div>
            </div>
            
            <div class="col-7 my-2">
                <div class="input-filter">
                    <input type="text" class="form-control px-2"  placeholder="Cedula" formControlName="cedula"/>
                </div>
            </div>
            
            <div class="col-7 my-2">
                <div class="input-filter">
                    <input type="text" class="form-control px-2"  placeholder="Email" formControlName="email"/>
                </div>
            </div>
              
    
            <div class="col-7 my-2 row mt-4 justify-content-center">
                <button class="btn btn-secondary btn-primary boton-principal col-md-5 col-12 text-center text-center">Guardar</button>
            </div>
    
    
        </form>

    </div>
</ng-template>