<!-- Estructura de la tabla -->
<div class="row mx-1">
  <input class="form-control col-lg-9 col-md-9 col-12" [(ngModel)]="nombre" (keyup.enter)="usuario()" placeholder="Filtro por nombre"/>
  <button (click)="usuario()"class="btn btn-secondary btn-primary boton-principal text-center text-center col-lg-2 col-md-2 col-12 ml-auto">Buscar</button>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Cedula</th>
        <th scope="col">Email</th>
        <th scope="col">Detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let item of usuarios'>
        <th scope="row">{{item.id}}</th>
        <td>{{item.nombre}}</td>
        <td>{{item.apellido}}</td>
        <td>{{item.cedula}}</td>
        <td>{{item.email}}</td>
        <!-- Levantar modal cuando presione click en el icono del ojo -->
        <td><button (click)="AbrirModal(edit,item)" class="bg-transparent border-0"><i class="fas fa-eye"></i></button></td>
      </tr>
    </tbody>
  </table>
<!-- Estructura del modal -->
  <ng-template #edit>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Editar Usuario</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form" class="row justify-content-center px-2">
        
            <div class="col-7 my-2">
                <div class="input-filter">
                    <input type="text" class="form-control px-2"  placeholder="Nombre" formControlName="nombre"/>
                </div>
            </div>
            
            <div class="col-7 my-2">
                <div class="input-filter">
                    <input type="text" class="form-control px-2"  placeholder="Apellido" formControlName="apellido"/>
                </div>
            </div>
            
            <div class="col-7 my-2">
                <div class="input-filter">
                    <input type="text" class="form-control px-2"  placeholder="Cedula" formControlName="cedula"/>
                </div>
            </div>
            
            <div class="col-7 my-2">
                <div class="input-filter">
                    <input type="text" class="form-control px-2"  placeholder="Email" formControlName="email"/>
                </div>
            </div>

            <div class="col-7 my-2">
              <div class="input-filter">
                  <input type="text" class="form-control px-2"  placeholder="EPS" formControlName="entidad"/>
              </div>
          </div>
              
    <!-- Boton para guardar registro de usuario editado-->
            <div class="col-7 my-2 row mt-4 justify-content-center">
                <button (click)="actualizar()"class="btn btn-secondary btn-primary boton-principal col-md-5 col-12 text-center text-center">Guardar</button>
            </div>
    
    
        </form>

    </div>
</ng-template>