<div class="container-azul d-flex my-auto">
    <!-- Formulario para registrar nuevo usuario -->
    <form [formGroup]="form" (ngSubmit)="Register()" class="tarjeta-register px-5 my-auto" >

        <div class="d-flex justify-content-center">
            <i class="fas fa-crown icon_corona"></i>
        </div>


        <h3 style="font-family: OpenSans;" class="text-center">¡Registrarse!</h3>

    <!-- Estructura del formulario -->
        <div class="row">

            <div class="col-6 col-md-6 d-flex flex-column mb-4 justify-center">           
                <input class="form-control mx-2 px-2 border border-primary" placeholder="Usuario" formControlName="username">             
            </div>
            <div class="col-6 col-md-6 d-flex flex-column mb-4  justify-center">           
                <input class="form-control mx-2 px-2 border border-primary" placeholder="Contraseña" type="password" formControlName="password">             
            </div>
            
            <div class="col-6 col-md-6 d-flex flex-column mb-4  justify-center">           
                <input class="form-control mx-2 px-2 border border-primary" placeholder="Confirmar contraseña" type="password"  formControlName="password2">             
            </div>
            <div class="col-6 col-md-6 d-flex flex-column mb-4  justify-center">           
                <input class="form-control mx-2 px-2 border border-primary" placeholder="E-mail" formControlName="email">             
            </div>          
            <div class="col-6 col-md-6 d-flex flex-column mb-4  justify-center">           
                <input class="form-control mx-2 px-2 border border-primary" placeholder="Nombre" formControlName="nombre">             
            </div>
            <div class="col-6 col-md-6 d-flex flex-column mb-4  justify-center">           
                <input class="form-control mx-2 px-2 border border-primary" placeholder="Apellido" formControlName="apellido">             
            </div>        
            <div class="col-6 col-md-6 d-flex flex-column mb-4  justify-center">           
                <input class="form-control mx-2 px-2 border border-primary" placeholder="Cedula" [maxLength]="10" formControlName="cedula">             
            </div>
            <div class="col-6 col-md-6 d-flex flex-column mb-1 justify-center">           
                <input class="form-control mx-2 px-2 border border-primary" placeholder="Entidad" formControlName="entidad">             
            </div>

            <div class="col-12 col-md-12 d-flex flex-column mb-4  justify-center">   
                <input type="file" class="form-control-file" (change)="cargarImagen($event)" id="exampleFormControlFile1">
            </div>

        </div>
        
        <div class="row my-4 justify-content-center">
            <!-- Boton para volver al login -->
            <div class="col-md-4 col-12 text-center"><button class="btn btn-primary boton-secundario btn-block" routerLink="/login">volver</button></div>
            <!-- Boton para registrarse -->
            <div class="col-md-4 col-12 text-center"><button type="submit" class="btn btn-primary boton-principal btn-block">Registrarse</button></div>
        </div>
        
    </form>

</div>

